@media only screen and (max-width: 600px) {
  .customNavbar{
    padding-left: 1rem;
    height: 50%;
    width: 13rem;
  }
  .iconNavbar{
    display: none;
    height: 50%;
    width: 55%;
  }
  .navBarInput{
    padding-left: 15%;
    padding-bottom: 0;
    padding-top: 0;
    height: 1.2rem;
  }
  .iconNavbarSass{
    display: inline;
    margin-left: 0.5rem;
    padding: 1.5% 2.2%;
  }
  .disable-mobile{
    display: none;
  }
  .product-list-filter{
    width: 60%;
  }
}
