// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";

.customNavbar{
  margin-left: 5%;
}
.iconNavbarSass{
  display: none;
}

.iconNavbar{
  display: inline;
  margin-left: 3%;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .customNavbar{
    padding-left: 1rem;
    height: 50%;
    width: 13rem;
  }
  .iconNavbar{
    display: none;
    height: 50%;
    width: 55%;
  }
  .navBarInput{
    padding-left: 15%;
    padding-bottom: 0;
    padding-top: 0;
    height: 1.2rem;
  }
  .iconNavbarSass{
      display: inline;
    margin-left: 0.5rem;
    padding: 1.5% 2.2%;
  }
}
